<div><a href="">Share</a></div>
<div><%= image_tag @roly.photo.url(:medium), :style => "width:300px;padding:10px;vertical-align:middle" %>
</div>
<div>
	<%= @roly.title %>
	<br>
	<%= @roly.address %>
</div>

<div>
	<%= @roly.description %>
</div>

<hr>
<table style="border:1px #70b8ff dashed;width:300px">
	<tr>
		<td style="border:1px #70b8ff dashed">
		<div style="text-align:center">
			<%= @roly.web_page %>
		</div></td>
		<td style="border:1px #70b8ff dashed">
		<table style="border:1px #70b8ff dashed">
			<tbody>
				<tr>
					<td>
					<div><img src="http://www.iessantafe.edu.ar/iesweb/img/facebook-icon.png">
					</div><td>
					<div>
						<%= @roly.facebook %>3
					</div></td>
					<td>
					<div>
						likes
					</div></td>
		</td>
	</tr>
	</tbody>
</table>
</td>
<td style="border:1px #70b8ff dashed">
<table style="border:1px #70b8ff dashed">
	<tbody>
		<tr>
			<td>
			<div><img src="http://bleachtree.com/images/twitter_icon.png">
			</div><td>
			<div>
				<%= @roly.twitter %>98
			</div></td>
			<td>
			<div>
				followers
			</div></td>
</td></tr>
</tbody>
</table>
</td>
</tr>
</table>
<hr>

<img src="http://midcitymessenger.com/wp-content/uploads/2013/08/13_8_12restaurantmap.jpg" width="300" height="250">

<hr>

<table style="border:1px #70b8ff dashed;height:50px;width:300px">
	<tbody>
		<tr>
			<td style="border:1px #70b8ff dashed">
			<div>
				<%= @roly.telephone %><img src="https://cdn1.iconfinder.com/data/icons/metro-uinvert-dock/256/Phone.png" width="50" height="50">
				<input type="button" value="Call">
			</div></td>
			<td style="border:1px #70b8ff dashed;text-align:right">
			<div>
				<input type="button" value="Email">
				<%= @roly.email %><img src="http://www.clker.com/cliparts/3/e/2/5/12401677931387382913Anonymous_Mail_1_icon.svg.hi.png" height="40">
			</div></td>
		</tr>
	</tbody>
</table>

<hr>

<table style="border:1px #70b8ff dashed;height:100px;width:300px">
	<tbody>
		<tr>
			<td style="border:1px #70b8ff dashed">
			<input type="button" value="Save to my Album">
			</td>
			<td style="border:1px #70b8ff dashed">
			<input type="button" value="Rol it !">
			</td>
		</tr>
		<tr>
			<td style="border:1px #70b8ff dashed">
			<input type="button" value="Save and add notes">
			</td>
		</tr>
	</tbody>
</table>