<div class="title">
  <h2>My Rolies</h1>
</div>
<p>
  <a href="/my_roly_cards/new">New Roly</a>
</p>

<div>Unassigned Business</div>
<table>
	<% @rolies.each do |roly| %>
	<tr>
		<td><%= link_to (image_tag roly.photo.url(:thumb), :style => "width:50px;padding:10px;vertical-align:middle"), my_roly_card_path(roly) %></td>
		<td><%= link_to roly.title, my_roly_card_path(roly) %><br />
            <%= roly.address %><br />
			<% if !roly.twitter.nil? %>
			<img src="/images/thumb/twitter.png" width="16" height="16">
			<% end %>
			<% if !roly.facebook.nil? %>
			<img src="/images/thumb/facebook.png" width="16" height="16">
			<% end %>
			<% if !roly.foursquare.nil? %>
			<img src="/images/thumb/foursquare.png" width="16" height="16">
			<% end %>
			<% if !roly.google.nil? %>
			<img src="/images/thumb/map.png" width="16" height="16">
			<% end %>
		</td>
		<td></td>
	</tr>
	<% end %>
</table>
<div>Fomento Geek</div>
<table>
	<% @rolies.each do |roly| %>
	<tr>
		<td><%= link_to (image_tag roly.photo.url(:thumb), :style => "width:50px;padding:10px;vertical-align:middle"), my_roly_card_path(roly) %>
		<td><%= link_to roly.title, my_roly_card_path(roly) %><br />
            <%= roly.address %><br />
			<img src="/images/thumb/twitter.png" width="16" height="16">
			<img src="/images/thumb/facebook.png" width="16" height="16">
			<img src="/images/thumb/foursquare.png" width="16" height="16">
			<img src="/images/thumb/map.png" width="16" height="16">
		</td>
		<td></td>
	</tr>
	<% end %>
</table>

