<h1>My Rolies</h1>
<p><a href="/my_roly_cards/new">New Roly</a></p>

<div><!-- Business div --></div>
<table>
	<% @rolies.each do |roly| %>
	<tr>
		<td><a href="/my_roly_cards/view/<%= roly.id%>"><%= image_tag roly.photo.url(:thumb), :style => "width:50px;padding:10px;vertical-align:middle" %></a></td>
		<td><a href="/my_roly_cards/view/<%= roly.id%>"><%= roly.title %></a><br /><%= roly.address %><br />
			<% if !roly.twitter.nil? %>
			<img src="/images/thumb/twitter.png" width="16" height="16">
			<% end %>
			<% if !roly.facebook.nil? %>
			<img src="/images/thumb/facebook.png" width="16" height="16">
			<% end %>
			<% if !roly.foursquare.nil? %>
			<img src="/images/thumb/foursquare.png" width="16" height="16">
			<% end %>
			<% if !roly.google.nil? %>
			<img src="/images/thumb/map.png" width="16" height="16">
			<% end %>
		</td>
		<td></td>
	</tr>
	<% end %>
</table>
