<h1>Admin#account</h1>
<p>Find me in app/views/admin/account.html.erb</p>

<p><a href="edit_account">Edit Profile</a></p>
<p>Avatar</p>
<p><%= @user.username %></p>
<p><%= @user.first_name %> <%= @user.last_name %> <%= @user.middle_name %></p>
<p><%= @user.email %></p><%= @user.email %>
<p><a href="my_roly_cards">My Roly Cards</a></p>
<p><a href="my_albums">My Albums</a></p>
<p><a href="my_favorites">My Favorites</a></p>
<p><a href="recieve_rcard">Recieve R-card</a></p>
<p><a href="/app_info">App Info</a></p>
