<h1>Admin#edit_account</h1>
<p>Find me in app/views/admin/account.html.erb</p>

<p>Avatar</p>
<p><%= @user.username %></p>
<p><%= @user.first_name %> <%= @user.last_name %> <%= @user.middle_name %></p>
<p><%= @user.email %></p><%= @user.email %>
<input type="submit" value="actualizar">
